# Ignorar entorno virtual
venv/
.env
# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar archivos de base de datos locales (si aplica)
*.sqlite3

# Archivos de entorno
.venv

# Archivos del sistema
.DS_Store
